.navbar{
    background-color: gray;
    color: white;
    height: 3rem;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-items{
    display: flex;
    gap: 2rem;
}

a{
    color: white;
}