.navbar{
    background-color: #2d2d2d;
    color: white;
    height: 3rem;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-items{
    display: flex;
    gap: 2rem;
}

.logo > *{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo-img{
    width: 30px;
}

a{
    color: white;
}